<link rel='stylesheet' href='/css/dashboard.css'>
<main><div class="container"><h3>{{ name }}'s Dashboard</h3>
<a href="/api/logout">Log out</a>
<div class="card deep-orange lighten-2">
    {{#if isTeacher}}
    <a class="dashLinkColor waves-effect waves-light btn-small" href="/addComment?teacher_id={{ teacher_id }}">Add Comment</a>
    <a class="dashLinkColor waves-effect waves-light btn-small" href="/addStudent?teacher_id={{ teacher_id }}">Add New Student</a>
    <h4>Students</h4>
    <ul>
        {{#each students}}
        <li>
            <p>{{ student_name }}</p>
            {{#each this.comments}}
            <h6><span>{{this.date}}</span> {{this.comment}}</h6>
            {{/each}}
        </li>
        {{/each}}
    </ul>
    {{else}}
    <h4>Your Students</h4>
    <ul>
        {{#each students}}
        <li>
            <p>{{ student_name }}</p>
            {{#each this.comments}}
            <h6><span>{{this.date}}</span> {{this.comment}}</h6>
            {{/each}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
</div></div>
</main>
<footer>
<img class="responsive-img" src="/../images/dreamstime_four.jpg" width="1800px">
</footer>