<h3>{{ name }}'s Dashboard</h3>
<a href="/api/logout">Log out</a>
<div class="card">
    {{#if isTeacher}}
    <a href="/addComment?teacher_id={{ teacher_id }}">Add Comment</a>
    <a href="/addStudent?teacher_id={{ teacher_id }}">Add New Student</a>
    <h4>Students</h4>
    <ul>
        {{#each students}}
        <li>
            <p>{{ student_name }}</p>
            {{!-- <a href="/editStudent?id={{ student_id }}">Edit Student</a> --}}
            <a href="/comments/?id={{ student_id }}">See Comments</a>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <h4>Your Students</h4>
    <ul>
        {{#each students}}
        <li>
            <p>{{ student_name }}</p>
            {{#each comments}}
            <h6>{{date}}</h6>
            <p>{{comment}}</p>
            {{/each}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
</div>